
<div class="article_carousel mb-0">
    {{#each (theme code="articles")}}
        {{#if this.displayInCarousel}}
            <div class="article">
                <img class="img-fluid article_carousel_image" src="{{this.card_image}}"/>
                <div class="p-4 bg-white text-black article_carousel_content">
                    <strong class="d-block truncate"> {{this.card_title}}</strong>
                    <small>
                        <a class="font-weight-light" href="{{this.href}}">{{this.link_text}}</a>
                        <p>{{this.description}}</p>
                    </small>
                    {{> arrowButton color="black" size="small"}}
                </div>
            </div>
        {{/if}}
    {{/each}}
</div>
