<div class="basket_product my-4">
    {{> basketProductView}}
    {{#if personalise}}
        <div class="basket_personalise js-toggle">
            <div class="row my-4 p-0">
                <div class="col-xs-12 m-0 py-2 px-3 bg-grayLight">
                    <div class="basket_personaliseArrow arrow-up"></div>
                    <div class="basket_personaliseToggle cursor-pointer py-1 js-trigger" data-target="{{stringReplace title}}">{{{theme code="basket_personalise_message"}}}</div>
                    <div class="basket_personaliseForm js-target" data-trigger="{{stringReplace title}}">
                        <div class="py-2">
                            <input type="text" placeholder="{{theme code='basket_personalise_placeholder'}}" maxlength="12" class="form-control form-control-small" />
                        </div>
                        <div class="basket_personaliseSave text-center">
                            <u><a href="#">{{theme code="basket_personalise_button"}}</a></u>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{/if}}
</div>