<div class="accordionMenu">
	<div class="container">
		<div id="footerLinks" class="row pt-md-1" role="tablist" aria-multiselectable="true">
			{{#each (theme code="footer_links")}}
				<dl class="accordionMenu_parent col-12 col-md mb-0 mb-md-1">
					<dt class="accordionMenu_lead row py-2 pt-md-0 pb-md-1">
						<a class="col text-hush collapsed accordionMenu_arrow" data-toggle="collapse" data-parent="#footerLinks" href="#{{stringReplace @key}}" aria-expanded="true" aria-controls="{{stringReplace @key}}">
							{{@key}}
						</a>
					</dt>
					<div id="{{stringReplace @key}}" class="collapse collapse-xs-only">
						<span class="accordionMenu_child row"  role="tabpanel">
							{{#each .}}
								<dd class="accordionMenu_content col-12 py-2 py-md-0 mb-0"><a class="text-hush" href="#">{{.}}</a></dd>
							{{/each}}
						</span>
					</div>
				</dl>
			{{/each}}
		</div>
	</div>
</div>