<div class="collapse container-fluid background-secondary" id="productCollapse" aria-expanded="false" style="display: none">
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<h2 class="h4 mb-2 mt-5">{{theme code="store_product_categories"}}</h2>
				<ul class="list-group rounded-0">
					{{#each (theme code="search_results")}}
						<li class="list-group-item shadow-1" role="button"><strong>{{name}}</strong> - {{category}}</li>
					{{/each}}
				</ul>
			</div>
			<div class="col-md-9">
				<h2 class="h4 mb-2 mt-5">{{theme code="store_product_suggestions"}}</h2>
				<div class="row">
				{{#each (theme code="products")}}
					{{#if this.promo}}
						<div class="col-md-4">
							<div class="card shadow-1 rounded-0 mb-5 product" role="button">
								<div class="product_promo">
									<div class="product_promoContent">
										<p class="text-uppercase">promo</p>
									</div>
								</div>
								<div class="card-block">
									<div class="clearfix mb-1">
										<img src="http://via.placeholder.com/150x150" alt="" class="w-50 float-left">
									</div>
									<h6 class="text-muted font-weight-normal mb-2">{{this.name}}</h6>
									<h6 class="card-subtitle">&pound;{{this.price}} {{theme code="store_inc_vat_message"}}</h6>
								</div>
							</div>
						</div>
					{{else if this.recommended}}
						<div class="col-md-4">
							<div class="card shadow-1 rounded-0 mb-5 product product_recommended" role="button">
								<div class="card-block">
									<div class="clearfix mb-1">
										<img src="http://via.placeholder.com/150x150" alt="" class="w-50 float-left">
									</div>
									<h6 class="text-muted font-weight-normal mb-2">{{this.name}}</h6>
									<h6 class="card-subtitle">&pound;{{this.price}} {{theme code="store_inc_vat_message"}}</h6>
								</div>
							</div>
						</div>
					{{else}}
						<div class="col-md-4">
							<div class="card shadow-1 rounded-0 mb-5 product" role="button">
								<div class="card-block">
									<div class="clearfix mb-1">
										<img src="http://via.placeholder.com/150x150" alt="" class="w-50 float-left">
									</div>
									<h6 class="text-muted font-weight-normal mb-2">{{this.name}}</h6>
									<h6 class="card-subtitle">&pound;{{this.price}} {{theme code="store_inc_vat_message"}}</h6>
								</div>
							</div>
						</div>
					{{/if}}
				{{/each}}
				</div>
			</div>
		</div>
	</div>
</div>