<div class="row py-4 header header_nav header_text-{{color}} bg-{{background}}">
    <div class="col-4 pt-md-3">
        <a class="text-uppercase px-3 d-none d-md-inline-block cursor-pointer header_link js-slidePanel" data-target="#nav">{{theme code="navigation_browse"}}</a>
        <a class="text-uppercase px-3 d-none d-md-inline-block header_link">{{theme code="navigation_search"}}</a>
        <i class="header_link-{{color}} header_icon ico ico-navicon cursor-pointer d-inline-block d-md-none js-slidePanel" data-target="#nav" aria-hidden="true"></i>
        <i class="header_link-{{color}} header_icon ico ico-search pl-4 cursor-pointer d-inline-block d-md-none" aria-hidden="true"></i>
    </div>
    <div class="col-4 text-center"><img class="header_logo" src="/media/logo/mpLogo-{{color}}.png"></div>
    <div class="col-4 text-right pt-md-3">
        <i class="header_link-{{color}} header_icon ico ico-search cursor-pointer d-none d-md-inline-block" aria-hidden="true"></i>
        <i class="header_link-{{color}} header_icon ico ico-mapPointer pr-4 cursor-pointer" aria-hidden="true"></i>
        <i class="header_link-{{color}} header_icon ico ico-user cursor-pointer d-none d-md-inline-block" aria-hidden="true"></i>
        <i class="header_link-{{color}} header_icon ico ico-bag cursor-pointer js-slidePanel" data-target="#basket" aria-hidden="true"></i>
    </div>
</div>
