<div class="row py-1 header_text-{{color}} bg-{{background}}">
    <div class="col-4 pt-2">
        <a class="text-uppercase font-weight-light px-1 hidden-sm-down cursor-pointer js-navOpen header_link">{{theme code="navigation_browse"}}</a>
        <a class="text-uppercase font-weight-light px-1 hidden-sm-down header_link">{{theme code="navigation_search"}}</a>
        <i class="header_link-{{color}} fa fa-2x px-sm-1 fa-navicon cursor-pointer hidden-md-up d-inline js-navOpen" aria-hidden="true"></i>
        <i class="header_link-{{color}} fa fa-2x px-sm-1 fa-search cursor-pointer  hidden-md-up d-inline" aria-hidden="true"></i>
    </div>
    <div class="col-4 text-center"><img src="/media/logo/mpLogo-{{color}}.png"></div>
    <div class="col-4 text-right pt-2">
        <i class="header_link-{{color}} fa fa-2x px-1 fa-search cursor-pointer hidden-sm-down" aria-hidden="true"></i>
        <i class="header_link-{{color}} fa fa-2x px-sm-1 fa-map-marker cursor-pointer" aria-hidden="true"></i>
        <i class="header_link-{{color}} fa fa-2x px-1 fa-user cursor-pointer hidden-sm-down" aria-hidden="true"></i>
        <i class="header_link-{{color}} fa fa-2x px-sm-1 fa-shopping-bag cursor-pointer" aria-hidden="true"></i>
    </div>
</div>
