<header class="header">
	<div class="header_introduction background-primary">
		<div class="container py-1">
			<div class="row justify-content-between align-items-center">
				<div class="col-8 col-md logo">
					<img class="img-fluid" src="{{theme code="logo"}}">
				</div>
				<div class="col-4 col-md pull-right d-flex justify-content-end">
					<a href="#" class="text-hush d-inline-flex align-items-center">{{>icon name="user-circle"}}<span class="hidden-md-down pl-1">{{theme code="sign_in"}}</span></a>
					<a href="#" class="text-hush d-inline-flex align-items-center pl-2">{{>icon name="quick-order"}}<span class="hidden-md-down pl-1">{{theme code="quick_order"}}</span></a>
				</div>
			</div>
		</div>
	</div>
	<div class="js-fixedHeader background-body">
		<div class="container hidden-md-down">
			<div class="row align-items-stretch">
				{{> headerSearchInput }}
				{{> headerStoreOverlayTrigger }}
				{{> headerCheckout }}
			</div>
		</div>
		{{> headerProductOverlay }}
		{{> headerStoreOverlay }}
		<div class="border-top border-bottom hidden-md-down">
			<div class="container">
				<div class="row py-1 px-2 no-gutters">
					<ul class="nav nav-tabs nav-fill justify-content-between align-items-center col-md-12">
						{{#each (theme code="navigation")}}
							<li class="nav-item">
								<a class="nav-link py-1 mb-0 h6 js-tabNav{{#ifeq @key "Promotions"}} text-loud{{/ifeq}}" role="button" data-target="#{{{stringReplace @key}}}" role="tab">{{{@key}}}</a>
							</li>
						{{/each}}
					</ul>
					<div class="col tab-content" role="tablist">
						{{#each (theme code="navigation")}}
							{{> navigationTab}}
						{{/each}}
					</div>
				</div>
			</div>
		</div>
		{{> mobileNavigation }}
		{{> headerPromotions }}
	</div>
</header>