<header>
    <div class="header container-fluid" style="background-image: url({{theme code="header_image"}});">
        <div class="row py-1 text-white">
            <div class="col-4 pt-2">
                <a class="text-uppercase font-weight-light px-1 hidden-sm-down cursor-pointer js-navOpen">{{theme code="navigation_browse"}}</a>
                <a class="text-uppercase font-weight-light px-1 hidden-sm-down">{{theme code="navigation_search"}}</a>
                <i class="header_icon fa fa-2x px-sm-1 fa-navicon cursor-pointer hidden-md-up d-inline js-navOpen" aria-hidden="true"></i>
                <i class="header_icon fa fa-2x px-sm-1 fa-search cursor-pointer  hidden-md-up d-inline" aria-hidden="true"></i>
            </div>
            <div class="col-4 text-center"><img src="media/mp_logo.png" /></div>
            <div class="col-4 text-right pt-2">
                <i class="header_icon fa fa-2x px-1 fa-search cursor-pointer hidden-sm-down" aria-hidden="true"></i>
                <i class="header_icon fa fa-2x px-sm-1 fa-map-marker cursor-pointer" aria-hidden="true"></i>
                <i class="header_icon fa fa-2x px-1 fa-user cursor-pointer hidden-sm-down" aria-hidden="true"></i>
                <i class="header_icon fa fa-2x px-sm-1 fa-shopping-bag cursor-pointer" aria-hidden="true"></i>
            </div>
        </div>
        <div class="row px-md-4 py-5">
            <div class="col-md-6 text-white d-flex align-content-center">
                <div class="py-5">
                    <h1 class="header_title display-4 pt-md-4 font-weight-normal">{{theme code="header_title"}}</h1>
                    <p class="header_subtitle lead font-weight-light py-2">{{theme code="header_subtitle"}}</p>
                    {{> arrowButton color="white"}}
                </div>
            </div>
            <div class="col-md-6">
                <div class="bg-white float-md-right mx-auto m-md-auto">
                    {{> articleCarousel}}
                </div>
            </div>
        </div>
    </div>
</header>