<div class="hidden-lg-up tabPanel shadow-bottom" role="tabpanel">
	<div class="nav nav-filled text-center d-flex" role="tablist">
		<div class="col nav_item nav_item-menu py-1 d-flex flex-column align-items-center justify-content-end js-tabNav js-fixedScroll" id="browse-tab" data-target="#browse" data-variable-top="true" role="tab" aria-controls="browse" aria-expanded="false">
			<span class="nav-open">
				{{>icon name="menu-burger"}}<br/>
				{{theme code="navigation_browse"}}
			</span>
			<span class="nav-close">
				{{>icon name="menu-close"}}<br/>
				Close
			</span>
		</div>
		<div class="col nav_item py-1 d-flex flex-column align-items-center justify-content-end js-tabNav" id="search-tab" data-target="#search" role="tab" aria-controls="search" aria-expanded="false">
			{{>icon name="search_1"}}
			{{theme code="navigation_search"}}
		</div>
		<div class="col nav_item py-1 d-flex flex-column align-items-center justify-content-end js-tabNav" id="stores-tab" data-target="#stores" role="tab" aria-controls="stores" aria-expanded="false">
			{{>icon name="locate-store-pin"}}
			{{theme code="navigation_stores"}}
		</div>
		<a href="#" class="text-hush col nav_item py-1 d-flex flex-column align-items-center justify-content-end " id="checkout-tab" role="tab" aria-expanded="false">
			{{>icon name="trolley"}}
			{{theme code="navigation_checkout"}}
		</a>
	</div>
	<div class="tab-content background-grayLightest">
		<div class="tab-pane fade" id="browse" role="tabpanel" aria-labelledby="browse-tab">
			<ul class="shadow-insetTop nav nav-filled flex-column">
				<li class="px-1 py-1 border-bottom">
					<a class="text-hush d-flex align-items-center" href="#">
						{{>icon name="home"}}
						<h3 class="m-0 pl-1 py-1">Home</h3>
					</a>
				</li>
				{{#each (theme code="navigation")}}
					<li class="px-1 py-1 border-bottom{{#ifeq @key "Promotions"}} background-loud{{/ifeq}}">
						<a class="text-hush d-flex align-items-center js-fixedScroll active" href="#" data-target="#{{stringReplace @key}}Nav" data-toggle="offScreen-visible" data-variable-parent=".scrollInner">
							{{>icon name=(stringReplace @key)}}
							<h3 class="m-0 pl-1 py-1">{{{@key}}}</h3>
							{{>icon name="chevron-right" classes="ml-auto mr-1"}}
						</a>
					</li>
					<ul class="offScreen shadow-right nav nav-filled nav-filled flex-column" id="{{stringReplace @key}}Nav">
						<li class="shadow-insetTop px-1 py-1 border-bottom">
							<a class="text-hush d-flex align-items-center js-fixedScroll" href="#" data-target="#{{stringReplace @key}}Nav" data-toggle="offScreen-visible">
								{{>icon name="left" classes="mr-1"}} Back to {{{@key}}}
							</a>
						</li>
						<li class="pl-1 py-1 border-bottom">
							<a class="text-hush d-flex align-items-center" href="#">
								{{>icon name=(stringReplace @key)}}
								<h3 class="m-0 pl-1 py-1">All {{{@key}}}</h3>
								{{>icon name="chevron-right" classes="ml-auto mr-1"}}
							</a>
						</li>
						{{#each .}}
							<li class="pl-4 py-1 border-bottom">
								<a class="text-hush d-flex align-items-center js-fixedScroll active" href="#" data-target="#{{stringReplace @../key}}{{stringReplace @key}}Nav" data-toggle="offScreen-visible" data-variable-parent=".scrollInner">
									<h3 class="m-0 pl-1 py-1 font-weight-normal">{{{@key}}}</h3>
									{{>icon name="chevron-right" classes="ml-auto mr-1"}}
								</a>
							</li>
							<ul class="offScreen shadow-right nav nav-filled flex-column" id="{{stringReplace @../key}}{{stringReplace @key}}Nav">
								<li class="shadow-insetTop  px-1 py-1 border-bottom">
									<a class="text-hush d-flex align-items-center js-fixedScroll" href="#" data-target="#{{stringReplace @../key}}{{stringReplace @key}}Nav" data-toggle="offScreen-visible">
										{{>icon name="left" classes="mr-1"}} Back to {{{@key}}}
									</a>
								</li>
								<li class="py-1 border-bottom">
									<a class="text-hush d-flex align-items-center" href="#">
										{{>icon name=(stringReplace @key)}}
										<h3 class="m-0 pl-1 py-1">All {{{@key}}}</h3>
										{{>icon name="chevron-right" classes="ml-auto mr-1"}}
									</a>
								</li>
								{{#each .}}
									<li class="pl-4 py-1 border-bottom">
										<a class="text-hush d-flex align-items-center" href="#">
											<h3 class="m-0 pl-1 py-1 font-weight-normal">{{{.}}}</h3>
										</a>
									</li>
								{{/each}}
							</ul>
						{{/each}}
					</ul>
				{{/each}}
			</ul>
		</div>
		<div class="tab-pane fade p-1" id="search" role="tabpanel" aria-labelledby="search-tab">
			<form id="searchForm">
				<div class="d-flex flex-wrap justify-content-between">
					<div class="input-stroke col d-flex mr-1">
						{{> input type="text" classes="form-control js-searchInput border-0 js-searchInput align-self-center" placeholder=(theme code="search_message") name="search" validate="validate" }}
						{{> icon name="spinner js-loadingSpinner align-self-center d-none"}}
					</div>
					{{> button type="submit" classes="d-flex btn-secondary btn-roundedIcon icon icon-search border-0 rounded-circle js-searchButton" target="#productCollapse"}}
				</div>
			</form>
		</div>
		<div class="tab-pane fade p-1" id="stores" role="tabpanel" aria-labelledby="stores-tab">
			<div class="row hidden-xs-down">
				<div class="col-6 col-sm-3 pt-1 hidden-xs">
					<div class="border-circle border-imageBrand border_brandTertiary storeImage-circle rounded-circle">
						<img src="http://via.placeholder.com/150x150" alt="stores" class="img-fluid">
					</div>
				</div>
				<div class="col-6 col-sm-3 pt-1">
					<img class="logo-small pb-1" src="/media/mario.png"/>
					<h3>{{theme code="store_search_title"}}</h3>
					<p>{{theme code="store_area_count"}}</p>
				</div>
				<div class="col-12 col-sm-6 pt-1">
					{{> headerStoreOverlayContent}}
				</div>
			</div>
			<div class="row hidden-sm-up">
				<div class="col-12 col-sm-6 pt-1">
					<form>
						<div class="d-flex flex-wrap justify-content-between mb-1">
							<div class="input-stroke col d-flex mr-1">
								<input type="text" class="form-control js-searchInput border-0 js-searchInput align-self-center" name="search" required="true" id="searchLocation">
								{{> icon name="spinner js-loadingSpinner align-self-center d-none"}}
							</div>
							{{> button type="submit" classes="d-flex btn-secondary btn-roundedIcon icon icon-search border-0 rounded-circle js-searchButton"}}
						</div>
					</form>
					<p class="d-flex align-items-center ml-1 js-useLocation" role="button">{{> icon name="use-location mr-1"}} {{theme code="use_location_message"}}</p>
				</div>
				<div class="col-6 col-sm-3 pt-1 d-flex">
					<div class="border-circle border-imageBrand border_brandTertiary storeImage-circle rounded-circle" style="background-image: url(http://via.placeholder.com/75x75); background-size: cover;"></div>
					<img class="logo-small ml-1" src="/media/mario.png"/>
				</div>
				<div class="col-6 col-sm-3 pt-1">
					<h3>{{theme code="store_search_title"}}</h3>
					<p>{{theme code="store_area_count"}}</p>
				</div>
			</div>
		</div>
	</div>	
</div>