{{#each (theme code="plp_clothing_filters")}}
    {{#ifeq name 'Filter By'}}
        <div class="js_slideContent productFilter_tab js-checkboxContainer" id="filter-by-slide">
            <div class="slidePanel_category slidePanel_category-selected bg-white" data-category="filter_primary">
                <div class="slidePanel_title p-3 js-switchCategory">
                    {{../name}}
                </div>
                <ul class="slidePanel_group list-unstyled m-0 px-3">
                    {{#each ../filters}}
                        <li data-goto-category="filter_{{stringReplace @key}}" class="js-switch_groupLink"><a href="#" class="d-block py-3">{{@key}}</a></li>
                    {{/each}}
                </ul>
            </div>
            {{#each ../filters}}
                <div class="slidePanel_category slidePanel_category bg-white" data-category="filter_{{stringReplace @key}}">
                    <div data-goto-category="filter_primary" class="slidePanel_title slidePanel_backArrow font-weight-bold cursor-pointer p-3 pl-5 js-switch_groupLink">
                        {{@key}}
                    </div>
                    <div class="js-checkbox">
                        {{#each .}}
                            <div class="d-inline-block pb-4">
                                <div class="checkbox">
                                    <div class="checkbox_toggle"></div>
                                    <div class="checkbox_text">{{.}}</div>
                                </div>
                            </div>
                        {{/each}}
                    </div>
                </div>
            {{/each}}
            <div class="productFilter_footer p-2 bg-grayLight">
                <div class="row">
                    <div class="col-8">
                        <div id="filterFooter{{@index}}" class="py-3">
                            0 filters applied                                
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="d-inline-block">
                            {{> button backgroundColour="primary" text="Apply Filters"}}
                        </div>
                        <div class="d-inline-block pl-3">
                            {{> button text="Clear all" class="js-clearCheckbox"}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{/ifeq}} 
{{/each}}
